.DS_Store
.ini
.pyc
build/
dist/
Espalier.egg-info
Espalier/__pycache__/
*.pyc

# Test output files (but keep alignments and trees)
TestFiles/Outputs/
arg_output_*/
*.trees
/TestFiles/trees
/TestFiles/alignments
/scripts/ab_testing/Outputs
scripts/ab_testing/generate_results_pdf.py
/TestFiles/FluTest
/TestFiles/FluTest_subsampled
